.env
.env.*
.env.txt
__pycache__/
downloads/
venv/
.venv/
*.py[cod]
*.log
.vscode/
.idea/
.DS_Store
.git bash commands.txt
Thumbs.db
backend.txt
frontend.txt
__pycache__/
git bash commands.txt
.static/
.static
.docusaurus
all_cookies.txt
*cookies*.txt
node_modules/
*.sqlite3
