---
sidebar_position: 4
---
A quick view of what tests are passing / failing.


# Unit tests

## videos/tests.py

### Tests for videos/urls.py 
#### 1. `test_kids_videos_endpoint`
##### PASSED
#### 2. `test_video_list_endpoint`
##### PASSED

### Tests for videos/views.py
#### 1. `test_kids_videos_success`
##### PASSED
#### 2. `test_kids_videos_duration_format`
##### PASSED
#### 3. `test_kids_videos_empty_db`
##### PASSED

# Integration tests

# Acceptance tests
